@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  transition: 1s linear;
}
header ul li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  transition: 1s linear;
}
header ul li a {
  text-decoration: none;
  font-family: "JetBrains Mono";
  color: whitesmoke;
}
.LOGO {
  list-style: none;
  background: rgb(19, 118, 231);
  border-radius: 20px;
  padding: 10px;
}
.LOGO a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
}
.heading-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  margin: auto;
  color: white;
}
.heading-hero h1 {
    font-family: 'JetBrains Mono';
}
